.social {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 35px;
        height: 35px;
    }
    &__item {
        transition: .5s;
    }
    &__item:hover{
        transform: scale(1.2);
    }

    &__item:nth-child(1), &__item:nth-child(2), &__item:nth-child(3), &__item:nth-child(4) {
        flex-basis: 24%;
        margin-bottom: 10px;
    }

    &__item:nth-child(5), &__item:nth-child(6) {
        flex-basis: 100%;
        &:hover {
            transform: scale(1.07);
        }
    }

    &__item:nth-child(5) {
        margin-bottom: 10px;
    }

    a {
        color: white;
        font-weight: 600;
        font-size: 14px;
    }
}
