html {
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: transparent;

    &__btns {
        display: flex;
        align-items: center;

        .button {
            margin-right: 30px;
        }
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        border-bottom: 1px solid gray;
    }

    &__second-block {
        display: flex;
        padding: 15px;
    }

    &__main-links {
        padding: 15px;
    }

    &__link-item {
        display: block;
        position: relative;
        margin-bottom: 18px;
        color: white;
        font-size: 20px;
        transition: .5s;
        white-space: nowrap;
        width: min-content;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 1px;
            background: transparent;
            bottom: -1px;
            height: 2px;
            transition: .5s;
        }
    }

    .header__link-item:hover {
        &:after {
            width: 100%;
            background: white;
        }
    }

    &__feedback {
        padding: 25px 15px 60px 15px;
        background: rgba(10, 0, 51, .65);
        margin-top: auto;
        border: 1px solid transparent;
        border-top-right-radius: 20px;
    }

    &__feedback-title {
        text-transform: uppercase;
        margin-bottom: 15px;
        color: white;
        font-weight: 600;
        font-size: 18px;
    }

}

main {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 270px;
    max-width: 1920px;
}

.main__wrapper {
    width: 100%;
    border-radius: 3px;
    //background: rgba(256, 256, 256, .7);
    padding: 5px;
    border: 3px solid white;
}
